.icon_layout {
    position: relative;
    background: linear-gradient(45deg, #801AB2, #4C4CFF);
    min-width: 64px;
    min-height: 64px;
    border-radius: 50%;
}

.ingredient_icon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #131316;
    border-radius: 50%;
}

.ingredient_icon > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 54px;
}

.icon_cover_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
