.burger_constructor_ingredients {
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    max-height: 400px;
    padding-inline-start: 0;
    margin-top: 16px;
}

.empty_box_top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 88px 88px 40px 40px;
    background: var(--background-element);
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    box-sizing: border-box;
}

.empty_box_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: var(--background-element);
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    box-sizing: border-box;
}

.empty_box_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px 40px 88px 88px;
    background: var(--background-element);
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    box-sizing: border-box;
}
