body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  flex-direction: column;
}

#react-modals {
  width: 100%;
  height: 100%;
}

.sign_in_container {
  width: 100%;
  height: max-content;

  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 5%;
}

.sign_in_container > a {
  text-decoration: none;
  color: #4C4CFF
}

.info {
  color: #8585AD
}

.sign_in_container > form {
  display: flex;
  flex-flow: column;
  align-items: center;
}
